<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div class="row">
        <div class="col d-flex justify-content-center">
            <h2 class="lead text-center">Вашата порачка е потврдена. Ќе Ве контактираат од карго службата на Вашиот телефонскиот број за 1 до 3 работни дена со цел да Ви ја достават пратката. Ви благодариме за довербата и Ве поздравуваме!</h2>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col d-flex justify-content-center">
            <a class="btn btn-outline-success" href="/products" style="text-decoration: none">Назад кон продукти</a>
        </div>
    </div>
</body>
</html>